body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Arial', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(225, 239, 255);
}

header {
  height: 110px;
  display: flex;
  align-items: center;
  padding-block: 10px;
}

header .site-logo {
  color: black;
  margin-right: auto;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 25px;
}

header a {
  text-decoration: none;
  padding: 5px 20px;
}

header a:hover {
  color: #161616;
  text-decoration: underline;
}

footer {
  background: #252525;
  color: #AAAAAA;
  text-align: center;
  height: 74.75px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
}

.container {
  padding: 0 25px;
}

.text-center {
  text-align: center;
}

.course-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-basis: 0;
}

.course-tile {
  padding: 5px;
  background-color: white;
  flex: 1 0 30%;
  flex-basis: 0;
  max-width: 500px;
  border: solid #9acfed 2px;
  border-radius: 5px;
}

.course-tile a {
  text-decoration: none;
  color: #161616;
}

.course-tile img {
  width: 500px;
  border-radius: 5px;
}

.flex {
  display: flex;
  margin-block: 10px;
  align-items: baseline;
}

.flex p {
  margin-block: 0;
}

.flex ul {
  margin-block: 0;
}

.lessonsCount {
  margin-left: auto;
  margin-right: 15px;
    display: flex;
    align-items: center;
}

.rating {
    display: inline-flex;
    align-self: center;
    color: coral;
    font-weight: 500;
    padding-right: 5px;
}
#wrapper {
  position: relative;
}
#wrapper video {
  position: absolute;
  top:0;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  object-fit: cover;
/*  min-width: 100%; */
 /* min-height: 100%; */
  z-index: 10;
}
#wrapper img {
  display: flex;
  align-items: center;
}

#tile:hover {
  -webkit-transform: scale(1.03);
	transform: scale(1.03);
}

#tile:hover video {
  opacity: 100;
}
#tile:hover img {
  opacity: 0;
}
#tile:hover .not-hide {
  opacity: 100;
}

/* Course Detail */

.back-button {
  display: block;
  color: black;
  text-decoration: none;
  margin-left: 26px;
}

.back-button span:hover {
  text-decoration: underline;
}



.css-wjh20t-MuiPagination-ul {
  justify-content: center;
}

.lesson {
  width: 60%;
  padding: 0;
  border: 1px solid;
  border-color: #161616;
  display: flex;
  flex-direction: column;
}

.lesson div {
  height: 40px;
  border-bottom: 1px solid;
  align-items: center;
  display: flex;
}

.lesson:last-child {
  border-bottom: 0;
}

.lesson a {
  text-decoration: none;
  color: #161616;
  display: contents;
}

.link-disabled {
  pointer-events: none;
}

.duration {
  width: 120px;
  margin-left: auto;
}
